/*#02
値
- 長さ -
	- px, em, %, rem -
*/

/*html {
	font-size: 32px;
}*/

/*h1 {
	font-size: 2em;
	64px 
	font-size: 2rem;
	64px 
}*/

/*span {
	font-size: 0.5em;
	32px
	font-size: 0.5rem;
	16px
}*/


/*#03
div {
	width: 100px;
	height: 50px;
}

#box1 {
	background: rgb(255, 100, 100);
}

#box2 {
	background: rgba(255, 100, 100, .2);
}

#box3 {
	background: hsla(210, 100%, 50%, .7);
}

#box4 {
	background: hsla(210, 100%, 40%, .7);
}*/


/*#04
body {
	background: skyblue;
}

img {
	border: 7px solid blue;
	opacity: 0.3;
}*/


/*#05
a[href^="http"] { color: orange; }
a[href$=".com"] { color: orange; }
a[href*=".co.jp"] { color: orange; }*/


/*#06
li:last-child
li:nth-child(3)
li:nth-child(odd)
li:nth-child(even)
li:nth-child(3n+1)
li:nth-last-child(4)
li:only-child
{
	background: violet;
}*/


/*#07
p:first-of-type
p:last-of-type
p:nth-of-type(3)
p:nth-last-of-type(4)
h2:only-of-type
{
	background: violet;
}*/


/*#08
li:not(.target)
li:empty
input[type="text"]:enabled
input[type="text"]:disabled
input[type="checkbox"]:checked + label
{
	background: violet;
}*/


/*#09
#sec {
	width: 200px;
	height: 200px;
	background: skyblue
	url('sheep.jpg');
	border-radius: 30px / 15px;
	border-bottom-right-radius: 30px;
	border-radius: 10px 20px 30px;
	
	border-radius: 50%;
}*/


/*#10*/
body { margin: 0; }

header {
	width: 100%;
	height: 130px;
	background: url('cafe.jpg')
	no-repeat skyblue;
	/*background-size: 50% 100%;*/
	/*background-size: cover;*/
	background-size: contain;
	background-position: 50% 50%;
}

